.article {

    padding-left: 45px;
}

.article--first {
    background-color: hsl(31, 77%, 52%);
}

.article--second {
    background-color: hsl(184, 100%, 22%);
}

.article--third {
    background-color: hsl(179, 100%, 13%);
}
.article__image{
    padding-top: 20px;
}
.article__paragraph {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.9;
    padding-left: 0px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 15px;


}

.article__paragraph--bolded {
    font-weight: 700;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 65px;
    padding-top: 49px;

}

.article__button {
    border-radius: 30px;
    padding: 15px 35px;
    margin-top: 108px;
    margin-bottom: 45px;
    font-size: 15px;
    text-align: center;
}